Welcome to {{ ansible_hostname }}
--
This file was created on {{  ansible_date_time.iso8601 }} 
--
Hope you're having a good day!!
--
Please contact {{ system_manager }} if you need anything
--
{{ api_result.json.fact }}
--
